{% extends "layout.html" %}

{% block body %}
<div class="container">


     <form class="form-signin" id="login_form">
        <h2 class="form-signin-heading">Set Alarm</h2>

        <input type="text" class="form-control" id="time" name="time" placeholder="HH:MM" required autofocus>
        <br>
        <button class="btn btn-lg btn-primary btn-block" id="setAlarm" >Schedule</button>
        <br>
    </form>

    <div class="clearAlarm">
        <div id="currentAlarm"></div>
        <button class="btn btn-sm btn-secondary btn-block" id="clear-alarm">Clear Alarm</button>
        <hr>
    </div>

    <div class="slider">
        
	    <p>
		  <label for="amount">Volume:</label>
		  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
		</p> 
		<div id="slider-vertical" style="height:20px;"></div>
        <br>
        <br>
        <hr>
        <button class="btn btn-lg btn-danger btn-block" id="offButton">Off</button>
	</div>

    
</div>
{% end %}

{% block endScripts %}
<script src="{{ static_url("js/main.js") }}"></script>
{% end %}