<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
        
        <!-- jQuery UI CSS -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- jQuery Core -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <!-- jQuery UI -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <title>
            Zenith
        </title>

        <!-- Bootstrap core CSS -->
        <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">
        <link href="{{ static_url("css/main.css") }}" rel="stylesheet">

    </head>    
    
    <body>
    {% block body %}
      
    {% end %}
    {% block endScripts %}{% end %}
    </body> 
</html>